html,body {
width: 100%;
margin: 0px;
color: #2d313c;
}


div {
  display: block;
}

h1 {

}

.flex-container img {
  width: 100%;

}


.navbar .navbar-nav>li>a {
  color: white;
}

.navbar .navbar-nav>li>a:hover {
  color: #2d313c;
}

.navbar .navbar-toggle {
  border: none;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar .navbar-toggle:hover {
  background-color: #fd9f9f;
}


.navbar-toggle {
  border-radius: 0px;
}

 .nav {
  background-color: rgb(243, 170, 40);
  border: none;

}

.navbar-brand img {
}


section {
  /*height: 100vh;*/
  width: 100vw;

}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-align: center;
}



#s1 {
  background-color: #fbe6e6;
}

#s1__counter {
  flex-grow: 1;
  flex-basis: 450px;
}

.s1__mainPic {
  height: 100hv;
}


.s1__button {
  margin-bottom: 15%;
  padding: 15px 32px;
  border-radius: 32px;
  border: none;
  text-align: center;
  background-color: white;
  color: #2d313c;
}

#s2 {
  background-color: #f2c1c1;
}

.s2--mods {
  background-color: #f9d3d3;
  padding: 20% 10% 20% 10%;
}

#s3 {
  background-color: #c3efe6;
}

.s3--mods {
  padding: 5% 10% 5% 10%;
}

.s3__title {
  background-color: #fbe6e6;
  width: 100vw;
  height: 10vh;
}

.s3__item {
}

    .s3__item1 {
      background-color: #f9d3d3;
      flex-grow: 2;
      flex-basis: 200px;
      height: 70vh;
    }

    .s3__item2 {
      background-color: #fdc3c3;
      flex-grow: 1;
      flex-basis: 150px;
      height: 70vh;
    }

#s4 {
  background-color: #f7f6d6;
}

.s4--mods {
  padding: 5% 10% 5% 10%;
}

.s4__title {
  background-color: #fbe6e6;
  width: 100vw;
  height: 10vh;
  margin: 2.5px;
}

.s4__item1 {
  flex-grow: 1;
  flex-basis: 250px;

  background-color: #f9d3d3;
  margin: 2.5px;
}

#s5 {
  background-color: #fbe6e6;
}

.s5--mods {
  padding: 5% 10% 5% 10%;
}

.s5__title {
  background-color: #fbe6e6;
  width: 100vw;
  height: 10vh;
  margin: 2.5px;
}

.s5__item1 {
  flex-grow: 2;
  flex-basis: 400px;
  height: 90vh;
  background-color: #f9d3d3;
  margin: 2.5px;
}

#s6 {
  background-color: #f7f6d6;
}

.s6--mods {
  padding: 5% 10% 5% 10%;
}

.s6__title {
  background-color: #fbe6e6;
  width: 100vw;
  height: 10vh;
  margin: 2.5px;
}

.s6__item {
  flex-grow: 3;
  flex-basis: 250px;
  height: 250px;
  background-color: #f9d3d3;
  margin: 2.5px;
}

.foot-bar {
  height: 50vh;
  background-color: #2d313c;
}
